body {
    font-family: 'Arial', sans-serif;
    background-image: url(back.webp);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: 120% 170%;
    animation: gradient 15s ease infinite;
}

.converter {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 40px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 320px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    letter-spacing: 3px;
    color: #2c4952;
}
#outputUnit,
#inputUnit{
    margin: 5px;
    width: 130%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.output-group input,
.input-group input{
    margin: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.input-group, .output-group {
    display: flex;
    margin-bottom: 20px;
}

input, select {
    width: 100%;
    padding: 12px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

input:focus, select:focus {
    outline: none;
    box-shadow: 0 0 0 2px #4cc9f0;
}

select {
    cursor: pointer;
}

#outputValue {
    background: rgba(255, 255, 255, 0.2);
    padding-left: 10px;
}

#convertBtn {
    width: 100%;
    padding: 12px;
    border: none;
    background: #4cc9f0;
    color: #1a1a2e;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#convertBtn:hover {
    background: #3db8d8;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(76, 201, 240, 0.3);
}

#convertBtn:active {
    transform: translateY(0);
    box-shadow: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}